nav.navbar{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cadetblue;
}
nav.navbar ul{
    float: left;
    list-style-type: none;
    
}
nav.navbar ul li{
    display: inline;
    list-style-type: none;
}
nav.navbar ul li a{
    padding: 20px;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav.navbar ul li a:hover{
    background-color: rgb(79, 114, 116);
}

main.main{
    margin-top: 15px;
    margin-bottom: 15px;
}

footer.rodape{
    margin:0;
    padding: 0;
    background-color: cadetblue;
    overflow: hidden;
}
footer.rodape ul{
    float: left;

}
footer.rodape ul li{
    list-style-type: none;
    display: inline;
}